out
dist
old
docker
node_modules
.vscode-test/
.vscode
*.vsix
*.zip
.test-extensions
.env.local

*.png
*.gif
*.heic
*.jpg
*.xcf
*.DS_STORE

flamegraph-react/public/flamegraph.json
flamegraph-react/src/components/*.js
flamegraph-react/src/components/*.map