.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
flamegraph-react/node_modules/**
!flamegraph-react/node_modules/@vscode/codicons/dist/codicon.css
!flamegraph-react/node_modules/@vscode/codicons/dist/codicon.ttf
flamegraph-react/src/**
flamegraph-react/public/**
flamegraph-react/scripts/**
flamegraph-react/.gitignore
flamegraph-react/README.md
flamegraph-react/tsconfig.json
flamegraph-react/package-lock.json
flamegraph-react/postcss.config.js
flamegraph-react/tailwind.config.js
flamegraph-react/yarn.lock
flamegraph-react/build/flamegraph.json
assets/**
!assets/flame.png
.eslintrc.json
**/test/**
**/.git/**
**/*.vsix
*.cpuprofile
*.heapprofile
format.md
jest.config.js
*.zip
.env.local

src/performance/*
out/performance/*
docs/*
docker/*