.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
flamegraph-react/node_modules/**
flamegraph-react/src/**
flamegraph-react/public/**
flamegraph-react/scripts/**
flamegraph-react/.gitignore
flamegraph-react/README.md
flamegraph-react/tsconfig.json
flamegraph-react/package-lock.json
flamegraph-react/postcss.config.js
flamegraph-react/tailwind.config.js
assets/*.gif
.eslintrc.json
**/test/**
**/.git/**
**/*.vsix
*.cpuprofile
*.heapprofile

src/performance/*
assets/draft/*
assets/screenshot*
out/performance/*
docs/*