/* Base theme (dark) */
body.vscode-dark,
body.vscode-high-contrast-dark {
    --syntax-comment: #bcbcbc;
    --syntax-keyword: #c6e5ff;
    --syntax-entity: #dcdc9c;
    --syntax-string: #ffc9b4;
    --syntax-constant: #b5cea8;
    --syntax-punctuation: #eeeeee;
    --syntax-type: #aee5ff;
}

/* Light theme */
body.vscode-light,
body.vscode-high-contrast-light {
    --syntax-comment: #424242;
    --syntax-keyword: #0048a0;
    --syntax-entity: #59349d;
    --syntax-string: #0a3069;
    --syntax-constant: #003c81;
    --syntax-punctuation: #222222;
    --syntax-type: #0b431c;
} 